{
    "extends": "eslint:recommended",
    "ecmaFeatures": {
        "modules": true,
        "spread": true,
        "restParams": true
    },
    "env": {
        "browser": true,
        "node": true,
        "es2022": true
    },
    "rules": {
        "no-console": 0,
        "indent": 0
    },
    "parserOptions": {
        "sourceType": "module"
    }
}
